header {
    background-color: #469bde;
    height: 600px;
    width: 100%;
}

body {
    width: 100%;
}

@font-face {
    font-family: Bebas Neue;
    src: url(fonts/bebas.ttf);
}

.container {
    width: 58em;
    text-align: center;
    margin: 0 auto;
}

.name {
    color: #FFF;
    font-size: 6em;
    font-family: Bebas Neue;
    font-weight: bold;
    display: block;
}

.welcome {
    color: #FFF;
    font-size: 3em;
    font-family: Bebas Neue;
    font-weight: lighter;
}

.hello {
    margin-top: 3em;
}

.exam {
    display: inline-flex;
}

.left_exams {
    padding-right: 5em;
}

.exams {
    padding-top: 5em;
    height: 450px;
    
}

.examsimg {
    display: flex;
}

.examimg {
    width: 12em;
    height: 7em;
}

#ruslang {
    color: #212121;
    font-size: 5em;
    font-family: Bebas Neue;
    font-weight: bold;
    padding-top: 0;
    margin-bottom: 0em;
    padding-bottom: 0.5em;
    display: block;
}

.whybetter {
    height: 100%;
    text-align: center;
    padding-top: 4em;
    background-color: #424242;
    padding-bottom: 5%;
}

.word {
    color: #FFF;
    font-size: 6em;
    font-family: Bebas Neue;
    font-weight: bold;
    display: block
}

.contrast {
    display: inline-flex;
    flex-direction: column;
    padding-bottom: 5em;
    padding: 2em;
}

.company {
    color: #FFF;
    font-size: 3em;
    font-family: Bebas Neue;
    font-weight: normal;
    display: block;
}

.success {
    width: 2em;
    height: 2em;
}

.error {
    width: 2em;
    height: 2em;
}

.student {
    width: 15em;
    height: 10em;
    display: block;
}

.advanteges {
    display: flex;
    align-items: center;
}

.advantege {
    padding-top: 0;
    margin-top: 0;
    padding-left: 1em;
}

.advantege span {
    color: #FFF;
    padding-top: 0;
    margin-top: 0;
    font-size: 2em;
    font-family: Bebas Neue;
    font-weight: 100 !important;
    display: block;
}

.programms {
    height: 100%;
    background-color: #469bde;
}

.course {
    display: inline-flex;
    padding-bottom: 2.5em;
    flex-direction: column;
    padding: 3em;
}

.join {
    background: #4eb540;
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2px;
    width: 10em;
    padding: 20px 0;
    margin-top: 1.5em;
    text-align: center;
    cursor: pointer;
    border: 0;
}

.join:hover {
    background-color: #999;
}

#sinitsa {
    
}

#zhuravl {
    background-color: gray;
    cursor: default;
}

#wordOnWhite {
    color: #5181b8 !important;
}

.vktext {
    font-size: 1.5em;
}

#vkbutton {
    background-color: #5181b8;
    margin-bottom: 5em;
}

#vkbutton:hover {
    background-color: #999;
}

.screen {
    width: 80%;
}

.cards {
    margin-top: 1em;
}